.footer-page {
  font-family: $font-prompt;
  .toolbar-green {
    height: 200px;
  }
  .text-title {
    font-family: 'Prompt';
    font-size: 17px;
    font-weight: bold;
  }
  .text-low {
    margin-left: 140px;
    font-size: 15px;
  }
  .text-foolter {
    color: black;
  }
}
