// Body
$body-bg: #fff;

// Typography
$font-prompt: 'Prompt', sans-serif;

// breakpoints
// media query breakpoints
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xlg: 1200px;
$media-breakpoint-xl: 1904px;

// colors
$theme-text-color: #000099;
$theme-bg-color: #d7e9fd;
$theme-bg-color-hover: #9ec9fa;
