@media (max-width: 450px) {
  .footer-page {
    .text-title {
      font-size: 23px;
    }
    .text-low{
      margin-left: auto;
      font-size: 15px;
    }
    .text-foolter {
      text-align: center;
    }
  }
}
